<aside class="sidebar-container">
    <img class='logo' src='../images/logo.jpg' />
    <header>
        <h2 class='text-center text-white mb-3'>Welcome to Spacestagram!</h2>
        <h5 class='text-center text-white mb-3'>The out of this world image collection app that shows you real photos
            collected from the rovers during their missions on Mars!</h5>
        <h5 class='text-center text-white'>To get started, select a rover, a camera and a date below</h5>

    </header>
    <div class="queryOptions mt-5">
        <div class="input-group">
            <label class="input-group-text mt-3" for="roverOptions">Rover:</label>
            <select id="roverOptions" class="form-select mt-3">
                <option selected disabled>Select a rover </option>
                <option>Curiosity</option>
                <option>Opportunity</option>
                <option>Spirit</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text mt-3" for="cameraOptions">Camera:</label>
            <select id="cameraOptions" class="form-select mt-3">
                <option selected disabled>Select a rover to see camera options</option>
            </select>
        </div>
        <div class="input-group flex-nowrap">
            <span style='width: 130px' class="input-group-text" id="addon-wrapping">Date Selection:</span>
            <input id='date' autocomplete="off" type="text" class="form-control datepicker disabled modelStart"
                placeholder="yyyy/mm/dd" aria-label="Model Start Date" aria-describedby="addon-wrapping">
        </div>
        <button id="loadRoverImages" type="button" class='btn btn-primary mt-4 w-100'>Load Images</button>
        <button type="button" class="btn btn-primary mt-5 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            View Your Liked Images <span class='likedCount'></span>
        </button>

        <footer>
            <div class='disclaimer'>Logo created by <a style="color:white" href="https://www.designevo.com/"
                    title="Free Online Logo Maker">DesignEvo logo
                    maker</a>
            </div>
            <a target="_blank" href="mailto:oballematt@gmail.com"><i style='margin-left: 60px'
                    class="fas fa-envelope fa-2x"></i></a>
            <a target="_blank" href="https://github.com/oballematt"><i class="fab fa-github fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/matt-oballe-4a1b0563/"><i
                    class="fab fa-linkedin fa-2x"></i></a>
        </footer>
    </div>
</aside>
<main class='image-container'>
    {{!-- {{> apodCarousel}} --}}
    <header class='imageHeader' style='display: none'>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Rover:</div>
                    <div class="roverSubhead text-end">
                        Curiosity
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Camera:</div>
                    <div class="cameraSubhead text-end">
                        All
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Date:</div>
                    <div class="dateSubhead text-end">
                    </div>
                </div>
            </li>
        </ul>
    </header>
    {{> likedImagesModal}}
    <figure style="display: none;" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </figure>

    <section class="py-5 imageSection">
        <div class="container-fluid">
            <figure
                class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-3 roverImageRows">
            </figure>
        </div>
    </section>

</main>