<aside class="sidebar-container">
    <img class='logo' src='../images/logo.jpg' />
    <h2 class='text-center text-white mb-3'>Welcome to Spacestagram!</h2>
    <h5 class='text-center text-white mb-3'>The out of this world image collection app that shows you real photos collected from the rovers during their missions on Mars!</h5>
    <h5 class='text-center text-white'>To get started, select a rover, a camera and a date below</h5>
    <div class="queryOptions mt-5">
        <div class="input-group">
            <label class="input-group-text mt-3" for="roverOptions">Rover:</label>
            <select id="roverOptions" class="form-select mt-3">
                <option selected disabled>Select a rover </option>
                <option>Curiosity</option>
                <option>Opportunity</option>
                <option>Spirit</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text mt-3" for="cameraOptions">Camera:</label>
            <select id="cameraOptions" class="form-select mt-3">
                <option selected disabled>Select a rover to see camera options</option>
            </select>
        </div>
        <div class="input-group flex-nowrap">
            <span style='width: 130px' class="input-group-text" id="addon-wrapping">Date Selection:</span>
            <input id='date' autocomplete="off" type="text" class="form-control datepicker disabled modelStart"
                placeholder="yyyy/mm/dd" aria-label="Model Start Date" aria-describedby="addon-wrapping">
        </div>
        <button id="loadRoverImages" type="button" class='btn btn-primary mt-4 w-100'>Load Images</button>
        <h3 style="margin-top: 100%">Footer Placeholder</h3>
    </div>
</aside>
<main class='image-container'>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Current Rover:</div>
                <div class="roverSubhead text-end">
                    Curiosity
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Current Camera:</div>
                <div class="cameraSubhead text-end">
                    All
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Current Date:</div>
                <div class="dateSubhead text-end">

                </div>
            </div>
        </li>
    </ul>
    <div class="py-5">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 imageRows">
            </div>
        </div>
    </div>
</main>

<div style="width: 50%; margin-left: auto; margin-right: auto " class="potdContainer">
</div>
<button id="loadPictures" type="button" class='btn btn-primary'>Get Pictures</button>