body {
  background-image: url("/images/galaxy.jpg");
  background-repeat: repeat-y;
  background-size: 100% 1000px;
  background-position: bottom 45%;
}

.sidebar-container {
  position: fixed;
  width: 500px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(89, 40, 177);
  color: #1a1a1a;
}

.image-container {
  padding-left: 500px;
}

.image-container ul li {
  background-color: rgba(0, 7, 111, 0.8);
  color: white;
}

.card {
  background-color: #5928b1;
  color: white;
}

.logo {
  margin-left: 100px;
}

.queryOptions{
  margin: 0 auto;
  width: 90%;
}

.imageRows img{
  height: 300px
}

@media (min-width: 2000px) {
  .imageRows img{
    height: 400px
  }
}

@media (min-width: 2000px) {
  body{
    background-image: url("/images/galaxy.jpg");
    background-repeat: repeat-y;
    background-size: 100% 1500px;
    background-position: bottom 45%;
  }
}
