:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --black: #000;
}

body {
  background-image: url("/images/galaxy.jpg");
  background-repeat: repeat-y;
  background-size: 100% 1000px;
  background-position: bottom 45%;
}

.imageRows .empty {
  margin: 0 auto;
  width: 900px;
  height: 750px;
}

.sidebar-container {
  position: fixed;
  width: 500px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(89, 40, 177);
  color: #1a1a1a;
}

.sidebar-container header {
  font-family: "Dosis", sans-serif;
}

.sidebar-container footer {
  margin-top: 35%;
}

.disclaimer {
  color: white;
}

.sidebar-container footer i,
.disclaimer {
  display: inline-block;
}

.sidebar-container footer a {
  color: black;
}

.sidebar-container footer i:hover {
  cursor: pointer;
}

.image-container {
  padding-left: 500px;
}

.image-container h4 {
  margin-left: 15px;
}

.image-container ul {
  margin-left: 15px;
}

.image-container ul li {
  background-color: rgba(0, 7, 111, 0.8);
  color: white;
}

.imageRows img {
  height: 300px;
}

.imageRows h4 {
  color: white;
  margin-top: 25%;
  margin-left: 50%;
}

.card {
  background-color: #5928b1;
  color: white;
}

.logo {
  margin-left: 100px;
}

.queryOptions {
  margin: 0 auto;
  width: 90%;
}

.spin i{
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }

}

.lds-roller {
  margin-top: 25%;
  margin-left: 50%;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 2000px) {
  .imageRows img {
    height: 400px;
  }
}

@media (min-width: 2000px) {
  .sidebar-container footer {
    margin-top: 110%;
  }
}

@media (min-width: 2000px) {
  body {
    background-image: url("/images/galaxy.jpg");
    background-repeat: repeat-y;
    background-size: 100% 1500px;
    background-position: bottom 45%;
  }
}

@media (min-width: 2000px) {
  .imageRows .empty {
    margin: 0 auto;
    width: 1500px;
    height: 1000px;
  }
}
